/*
https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=263238&secondary.color=FF5722&primary.text.color=FFCA28&secondary.text.color=FFCC80

Background
    primary: #263238
        light: #4f5b62
        mid: #1e272b
        dark: #000a12
        dark blue: #001323      
    
    secondary: #ff5722 
        light: #ff8a50
        dark: #c41c00

Text
    on primary: #ffca28
    on secondary: #ffcc80
*/

/*----------------------------------------------------------*/
/*Basic Setup*/
/*----------------------------------------------------------*/
/*remove all margins and padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #4f5b62;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    word-spacing: .05em;
    padding: 10px 3%;
}

h1,
h2,
h3 {
    color: #ffca28;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

ul {
    padding: 10px 25px;
}


/*
 Section 
*/
section {
    background-color: #263238;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    padding: 20px;
}

/*
    Code
*/

.hljs {
    color: #b9b9b9;
    background:  #1e272b;
}

.hljs-keyword {
    color: #cb7832;
}

.hljs-string {
    color: #6c7798;
}

pre {
    margin: 40px 0;
}

/* pre {
    white-space: pre-line;
} */

